@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7wu42q');
  src:  url('fonts/icomoon.eot?7wu42q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7wu42q') format('truetype'),
    url('fonts/icomoon.woff?7wu42q') format('woff'),
    url('fonts/icomoon.svg?7wu42q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90b";
}
.icon-money:before {
  content: "\e90a";
}
.icon-calculator:before {
  content: "\e906";
}
.icon-suitcase:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-remove:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-wallet:before {
  content: "\e902";
}
.icon-secure:before {
  content: "\e903";
}
.icon-deal:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
