@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "@/icomoon/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Manrope", system-ui, sans-serif;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
}